@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
 background-color: azure;
  font-family: "Roboto", sans-serif;

}
  h1 {

      font-family: serif;
      font-size: 50px;
      text-align: center;
        color: cornflowerblue;

  }



  #cssmenu {


      display: block;
      position: relative;
    zoom: 1;
    width: auto;

    background-color: azure;
border-bottom: 1px solid black;
border-top: 1px solid black;


  }
  #cssmenu:before {
    content: '';
    display: block;
  }
  #cssmenu:after {
    content: '';
    display: table;
    clear: both;
  }
  #cssmenu ul {
      text-decoration: none;
    list-style-type: none;
    display: block;
    font-size: 20px;

      width:600px;

      margin-left: auto;
      margin-right: auto;

    border-bottom: 2px solid white;

  }
  #cssmenu ul:before {
    content: '';
    display: block;
  }
  #cssmenu ul:after {
    content: '';
    display: table;
    clear: both;
  }
  #cssmenu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #cssmenu li a {
    float: left;
    color: aquamarine;
    text-decoration: none;
    padding: 10px 15px 0;
    font-weight: normal;
  }
  #cssmenu li:hover,
  #cssmenu .active {
    text-decoration: none;
  }
  #cssmenu li:hover a {
    color: aqua;
  }
